<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>
         Watchu Eatin' | Project 1 | WDI-51
      </title>
      <meta content="width=device-width, initial-scale=1" name="viewport">
      <link href="./styles/landing.css" media="all" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
   </head>
   <body>
      <!-- ================== VIDEO SECTION  ============= -->

      <section class="video-section">
         <div class="video">
            <video autoplay="" class="video-object" height="1280" loop="" width="1920"><source src="./images/bg.mp4"
            type="video/mp4"></video>
         </div>
      </section>
      <!-- ============   POPUP   ================= -->

      <div class="button">
         <button><span>EXPLORE</span></button>
      </div>

      <div class="pop-up">
         <div class="content">
            <div class="container">
               <div class="popupLoginArea">
                  <div class="popupLogin">
                  </div>

                  <div class="popupLogin">
                  </div>

                  <div class="popupLogin">
                  </div>
               </div>
               <span class="close">X</span>
               <div class="title">
                  <h1>
                     WHATCU EATIN?
                  </h1>
               </div>
               <img alt="logo of waiter serving up the name of the app... watchu eatin" src=
               "./images/whatcuEatinLogo.jpg">
               <div class="popupHeader">
                  <h1>
                     LOGIN FOR <span>BEST RECOMMENDATIONS</span> ON PLACES TO EAT
                  </h1>

                  <form>
                     <input maxlength="8" name="pwd" placeholder="PLEASE ENTER PASSWORD" required="" type="password">
                     <input type="submit" value="LOGIN">
                  </form>
               </div>
            </div>
         </div>
      </div>
      <!-- ============   SCRIPTS   ================= -->
      <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script> 
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
      </script> 
      <script src="./scripts/landing.js" type="text/javascript">
      </script>
   </body>
</html>