nav > h1{
  margin-left: 10px;
}
#myMain{
  background-color: navajowhite;
  /* margin-top: 50px; */
  display: flex;
  justify-content: space-between;
  margin: 10px;
  /* margin: 70px 10px 10px 10px; */
}

.mapRec{background-color: black;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.myRec{
  background-color: purple;
  display: flex;
  flex-direction: row-reverse;
  width: 50%;
  margin: 10px;
}

select{
  align-self: right;
}

.map-sub{
  width: 100%
}
#map {
  height: 400px;
  width: 100%;
  margin-top: 10px;
}

/*Form styling begins*/
/* .recommend{
  background-color: #28777a;
} */
.recommend-sub{
  /*background-color: orange;*/
  background-color: #4682B4;
  width: 100%;;
   margin: 10px 0px 10px 0px;
}

.theForm {
  background-color: #4682B4;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 10px 0px 10px 0px;
}

 h2{
  font-size: 20px;
  text-align: center;
}

/* []I need this to flex
to a column when squeezed*/
.column {
  align-items:center;
/*    background-color: black;*/
  display: flex;

  flex-wrap: row;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 5px;
}

input {
  width: 32%;
}

textarea{
  text-align: left;
  /*align-self: center;*/
  max-height: 3em;
  width: 100%;
}

button {
  background-color: yellow;
}
/*the form styling ends*/

/* .container {
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
} */



/* ---------------Style for Dropdown Begins----------------- */

/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* ---------------Style for Dropdown Ends----------------- */



/* ---------------Style for recommendation display template starts----------------- */

.recTemplet {
  display: flex;
  flex-direction: row;
  width: 30px;
}

.recTemplet2 {
  display: flex;
  flex-direction: row;
  width: 30px;
}

.recTemplet3 {
  display: flex;
  flex-direction: row;
  width: 30px;
}




/* ---------------Style for recommendation display template ends----------------- */